* 
    margin: 0
    padding: 0
    box-sizing: border-box


.container 
    max-width: 90%
    margin: 0 auto

@import "base/_mixins"
@import "base/_variables"
@import "blocks/_header"
@import "blocks/_game"